{# src/DS/InternauteBundle/Resources/views/home.html.twig #}

{% extends "DSInternauteBundle::layout.html.twig" %}

{% block block_nav %}
        <div id="cv" class="tuile">
            <a href="Javascript:ouvre('{{ path('ds_internaute_cv')}}');" title="C.V." class="menu cv" id="cv">
        <!--<a href="{{ path('ds_internaute_cv')}}" title="C.V." class="menu cv" id="cv">-->
            CV
                </a>
        </div>

        <div id="competences" class="tuile" title="Mes Compétences">
                <!--<span class="menu">C</span>ompétences<br> -->
                <h2>Compétences</h2>
                <a href="{{ path('ds_internaute_competences')}}">
                    <img src="{{ path('ds_internaute_homepage')}}../logos/competences.jpg" alt="Mes compétences" 
                     width="130"  class="menu">
                </a>

            </div>

            <div id="experience" class="tuile" title="Mon expérience">
                <!--<span class="menu">E</span>xpérience<br> -->
                <h2>Expérience</h2>
                 <a href="{{ path('ds_internaute_experience') }}">
                    <img src="{{ path('ds_internaute_homepage')}}../logos/experience.jpg" alt="Mon expérience" 
                     height="100"  class="menu">
                </a>
            </div>

            <div id="recommandation" class="tuile" title="Mes recommandations">
                <!--<span class="menu">R</span>ecommandations<br>-->
                <h2 class="reco">Recommandations</h2>
                <a href="{{ path('ds_internaute_recommandations')}}">
                    <img src="{{ path('ds_internaute_homepage')}}../logos/recommandation.jpg" 
                     alt="Mes recommandations" height="85" class="menu">
                </a>  
            </div>

            <div id="formation" class="tuile" title="Ma Formation">
                <!--<span class="menu">F</span>ormation<br>-->
                <h2>Formation</h2>
                 <a href="{{path('ds_internaute_formation')}}">
                    <img src="{{ path('ds_internaute_homepage')}}../logos/formation.jpg" alt="Ma formation" 
                     title="Ma formation" height="85" class="menu">
                </a>
            </div>

            <div id="reference" class="tuile" title="Mes références">
                <!--<span class="menu">R</span>éférence<br>-->
                <h2>Références</h2>
                <!--<a href="Javascript:ouvre('{{ path('ds_internaute_references')}}');">-->
                <a href="{{ path('ds_internaute_references')}}">
                <img src="{{ path('ds_internaute_homepage')}}../logos/reference.jpg" alt="Mes références"
                     width="130" title="Mes références" class="menu"></a>
            </div>

            <div id="contact" class="tuile" title="Me contacter">
                <!--<span class="menu">C</span>ontact<br>-->
                <h2>Contact</h2>
                 <a href="{{ path('ds_internaute_contact')}}">    
                    <img src="{{ path('ds_internaute_homepage')}}../logos/contact.jpg" alt="Contact" height="90" 
                     title="Contact" class="menu">
                </a>
            </div>

            <div id="lien" class="tuile" title="Lien">
                <!--<span class="menu">L</span>ien<br>-->
                <h2>Liens</h2>
                <a href="{{ path('ds_internaute_liens')}}">
                    <img src="{{ path('ds_internaute_homepage')}}../logos/lien.jpg" alt="Lien" width="130"
                     title="Lien" class="menu">
                </a>
            </div>
            <div id="diplomes" class="tuile" alt="Diplomes">
                <h2 class="dipl">Diplômes et certifications</h2>
                    <a href="{{path('ds_internaute_diplomes')}}">
    				<img src="{{ path('ds_internaute_homepage')}}../docs/diplome/certificat_dominique-sauvignon_developpez-votre-site-web-avec-le-framework-symfony2.jpg"
         			alt="Certificat : Développer votre site web avec le framework Symfony2"
         			width="130">
				</a>
            </div>
            <div id="Viadeo" class="tuile viadeo menu" title="Viadeo">
                <h2>Réseaux sociaux</h2>
                Sur viadéo :<br>
                <a href="http://www.viadeo.com/fr/profile/0021e8bbk9ej58r9?readOnly&language=fr&ga_from=Fu:%2Fprofilev3%2F;Fb%3Aprofile-Top-bouton%3BFe%3Apreview%3B" title="Viadeo">ici</a>
                <br>
                Sur LinkedIn:<br>
                <a href="https://www.linkedin.com/profile/view?id=AAMAAAqCf2YBr0BAh1Eo9PqIKpVWsi5pE2-o-us&trk=hp-identity-photo" title="LinkedIn">ici</a> 
            </div>
{% endblock %}

{% block block_div %} 

{% endblock %}