{# src/DS/InternauteBundle/Resources/views/diplomes.html.twig  #}

{% extends "DSInternauteBundle::DS/home2.html.twig" %}

{% block block_nav %}
<div class="display">
Diplômes et Certificat de réussite aux MOOC (massive open online course)<br>
- Développez votre site web avec le framework Symfony2 (09/2015)<br>
<a href="{{ path('ds_internaute_homepage') }}../docs/diplome/certificat_dominique-sauvignon_developpez-votre-site-web-avec-le-framework-symfony2.jpg" 
   target="_blank"
   title="Certificat : Développer votre site web avec le framework Symfony2">
    <img src="{{ path('ds_internaute_homepage') }}../docs/diplome/certificat_dominique-sauvignon_developpez-votre-site-web-avec-le-framework-symfony2.jpg" 
         alt="Certificat : Développer votre site web avec le framework Symfony2"
         class="diplome">
</a><br>
- Géer son code avec Git et GitHub (12/2014)<br>
<a href="{{ path('ds_internaute_homepage') }}../docs/diplome/Git_GitHub-certificat.jpg" 
   target="_blank"
   title="Certificat : Gérer son code avec Git et GitHub">
    <img src="{{ path('ds_internaute_homepage') }}../docs/diplome/Git_GitHub-certificat.jpg" 
         alt="Certificat : Gérer son code avec Git et GitHub"
         class="diplome">
</a><br>
<br>
- Les clés pour réussir son référencement web (12/2014)<br>
<a href="{{ path('ds_internaute_homepage') }}../docs/diplome/ReferencementWeb-certificat.jpg" 
   target="_blank"
   title="Certificat : Les clés pour réussir son référencement web">
    <img src="{{ path('ds_internaute_homepage') }}../docs/diplome/ReferencementWeb-certificat.jpg" 
         alt="Certificat : Les clés pour réussir son référencement web"
         class="diplome">
</a><br>
<br>
- DU Développeur Grands Systèmes (2014)<br>
<a href="{{ path('ds_internaute_homepage') }}../docs/diplome/2014-du-developpeur-grands-systemes-diplomes.jpg"
   target="_blank"
   title="Diplome : DU Développeur Grands Systèmes">
    <img src="{{ path('ds_internaute_homepage') }}../docs/diplome/2014-du-developpeur-grands-systemes-diplomes.jpg" 
         alt="Diplôme DU Développeur Grands Systèmes"
         class="diplome">
</a><br>
<br>
- Concevez votre site web avec PHP et MySQL (04/2014)<br>
<a href="{{ path('ds_internaute_homepage') }}../docs/diplome/PHP_MySQL-certificat.jpg" 
   target="_blank" 
   title="certificat : Concevez votre site web avec PHP et MySQL (04/2014)">
    <img src="{{ path('ds_internaute_homepage') }}../docs/diplome/PHP_MySQL-certificat.jpg" 
         alt="Certificat : Concevez votre site web avec PHP et MySQL (04/2014)" 
         class="diplome">
</a><br>
<br>
- Apprenez à créer votre site web avec HTML5 et CSS3 (03/2014)<br>
<a href="{{ path('ds_internaute_homepage') }}../docs/diplome/HTML5_CSS3-certificat.jpg" 
   target="_blank" 
   title="Apprenez à créer votre site web avec HTML5 et CSS3">
    <img 
        src="{{ path('ds_internaute_homepage') }}../docs/diplome/HTML5_CSS3-certificat.jpg" 
        alt="Cartificat Apprenez à créer votre site web avec HTML5 et CSS3" 
        class="diplome">
</a><br>
<br>
- DUT Informatique option Informatique et Génie Informatique (2000)<br>
<a href="{{ path('ds_internaute_homepage') }}../docs/diplome/2000-diplome-dut-Informatique.jpg"
   target="_blank"
   title="Diplome : DUT Informatique option Informatique et Génie Informatique">
    <img src="{{ path('ds_internaute_homepage') }}../docs/diplome/2000-diplome-dut-Informatique.jpg" 
         alt="Diplôme DUT Informatique option Informatique et Génie Informatique"
         class="diplome">
</a><br>
<br>
- BTS Comptabilité et Gestion (1998)<br>
<a href="{{ path('ds_internaute_homepage') }}../docs/diplome/1998-diplome-bts.jpg"
   target="_blank"
   title="Diplome : BTS Comptabilité et Gestion">
    <img src="{{ path('ds_internaute_homepage') }}../docs/diplome/1998-diplome-bts.jpg" 
         alt="Diplôme BTS Comptabilité et Gestion"
         class="diplome">
</a><br>
<br>
- BAC S SVT(1995)<br>
<a href="{{ path('ds_internaute_homepage') }}../docs/diplome/1995--bac-s-svt.jpg"
   target="_blank"
   title="Diplome : BAC S option SVT">
    <img src="{{ path('ds_internaute_homepage') }}../docs/diplome/1995--bac-s-svt.jpg" 
         alt="Diplôme BAS S option SVT"
         class="diplome">
</a>
</div>
{% endblock %}